* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fcf9f9;
  --black: #080808;
  --grey: #464343;
  --light-grey: #bbbbbb;
  --yellow: #fcf804;
}
.html {
  font-size: 20px;
}

body {
  background-color: var(--grey);
  font-family: Source Sans Pro;
  font-size: 20px;
  padding: 2rem;
}

.texto {
  background: linear-gradient(white, silver);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 150%;
}

.header {
  background: rgb(195, 34, 123);
  background: linear-gradient(
    135deg,
    rgb(157, 34, 195) 23%,
    rgb(253, 45, 159) 100%
  );
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 11vh;
}
.centrado {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--white);
}

.articulo-create {
  max-height: 42vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  align-items: center;
  position: relative;
}

.articulo-desglose {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.T-create {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  max-width: 90%;
  background-color: var(--white);
}
.T-desglose {
  width: 90%;

  padding-top: 2rem;
  padding-bottom: 2rem;
}
.articulo-desglose .T-desglose:nth-of-type(-1n + 2) {
  border-bottom: 1px solid var(--grey);
}

p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.like_button {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.1rem;
  background-color: var(--yellow);
  font-weight: 800;
  font-size: large;
  color: var(--black);
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.6);
}
.like_button:hover {
  background-color: var(--black);
  color: var(--yellow);
}

footer {
  background-color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  min-height: 17vh;
}
footer p {
  padding-left: 6rem;
  padding-right: 6rem;
  color: var(--white);
}
footer span {
  color: red;
  font-size: x-large;
}

@media (min-width: 740px) {
  header {
    border-bottom: 3px solid var(--yellow);
  }
  .texto_entrada {
    border-bottom: 3px solid var(--black);
  }

  .T-create {
    margin-right: 8rem;
    float: right;
    padding: 2rem;
    max-width: 400px;
    background-color: var(--white);
  }
  .T-desglose {
    width: 30%;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-bottom: none;
  }
  .articulo-desglose {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .articulo-desglose .T-desglose:nth-of-type(-1n + 2) {
    border-right: 1px solid var(--grey);
  }
  .articulo-desglose .T-desglose:nth-of-type(-1n + 2) {
    border-bottom: none;
  }
}
